include includes/header.pug
main 
    section.jumbotron 
        .container
            .row 
                .col-12 
                    h1 Innovative UI designer + developer.
    section.work
        .container
            .work-items-wrapper 
                .work-item.one
                .work-item.two
                .work-item.three
                .work-item.four
                .work-item.five
                .work-item.six
                .work-item.seven
                .work-item.eight


include includes/footer.pug
    