@import "./scss/variables";

body, html{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main{
    flex-grow: 1;
}

.jumbotron{
    background-image: url('https://images.pexels.com/photos/414491/pexels-photo-414491.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}

.work-items-wrapper{
    margin-top: -75px;
    background: white;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 1em;
}

.work-item{
    background: purple;
    padding: 2em;
    height:150px;
    opacity: 0;  
}

.one{
    grid-column: 1/3;
   
}
.four{
    grid-column: 1/3;
}

// Media Queries
@media (min-width: 576px){
    .work-item{
        height: 250px;

    }
}